In [1]:
import pandas as pd
import os

In [2]:
!ls train

train.csv

In [3]:
train = pd.read_csv('./train/train.csv')
addresses = pd.read_csv('./misc/addresses.csv')

train.shape, addresses.shape

((1159576, 3), (2766724, 2))

In [4]:
train.head()

   phone_id order_completed_at  target
0     19843            2020-01     1.0
1     19843            2020-02     0.0
2     19843            2020-03     0.0
3     19843            2020-04     0.0
4     19843            2020-05     0.0

In [5]:
addresses.head()

        id  phone_id
0       41         1
1     8531         2
2  2982657         2
3  3271801         2
4  3648206         2

In [6]:
train_addresses = train.merge(addresses, on='phone_id', how='left')
train_addresses.head()

   phone_id order_completed_at  target       id
0     19843            2020-01     1.0  8050123
1     19843            2020-01     1.0  8194250
2     19843            2020-01     1.0  3064377
3     19843            2020-01     1.0  3584090
4     19843            2020-01     1.0  3584562

In [7]:
li = []
for filename in sorted(os.listdir('./shipments')):
    df = pd.read_csv(os.path.join('./shipments', filename))
    li.append(df)
    
shipments = pd.concat(li, axis=0)

In [8]:
shipments.head()

,user_id,ship_address_id,shipment_id,order_id,order_created_at,order_completed_at,shipment_starts_at,retailer,s.order_state,shipment_state,s.city_name,s.store_id,total_cost,rate,dw_kind,promo_total,total_weight,platform,os,shipped_at
0,11019,171906,322307,2156687,2017-08-03 21:25:23,2020-02-18 14:07:00,2020-02-20 07:00:00,METRO,complete,shipped,Москва,21,168.0,0,courier,0.0,30170,web,windows,2020-02-20 08:08:54
1,62278,278832,387023,3021953,2018-03-02 17:22:04,2020-01-03 13:09:26,2020-01-03 17:00:00,METRO,complete,shipped,Москва,10,98.0,0,courier,-150.0,11305,web,windows,2020-01-03 18:10:40
2,905126,468407,388943,3018198,2018-02-28 11:32:47,2020-02-12 12:39:28,2020-02-13 11:00:00,METRO,complete,shipped,Москва,21,98.0,5,courier,0.0,13589,app,ios,2020-02-13 12:33:53
3,21412,61962,421048,3030227,2018-03-07 20:37:27,2020-01-25 11:58:56,2020-01-25 18:00:00,METRO,complete,shipped,Москва,8,158.0,0,courier,0.0,9726,web,mac,2020-01-25 19:55:32
4,42110,378297,442659,2923996,2017-12-24 11:19:04,2020-01-07 14:30:44,2020-01-07 19:00:00,METRO,complete,shipped,Москва,2,163.0,0,courier,0.0,30323,web,windows,2020-01-07 19:51:37

In [22]:
train_shipments = train_addresses.merge(shipments, left_on='id', right_on='ship_address_id', how='left')

In [23]:
train_shipments.isna().count()

phone_id                9365553
order_completed_at_x    9365553
target                  9365553
id                      9365553
user_id                 9365553
ship_address_id         9365553
shipment_id             9365553
order_id                9365553
order_created_at        9365553
order_completed_at_y    9365553
shipment_starts_at      9365553
retailer                9365553
s.order_state           9365553
shipment_state          9365553
s.city_name             9365553
s.store_id              9365553
total_cost              9365553
rate                    9365553
dw_kind                 9365553
promo_total             9365553
total_weight            9365553
platform                9365553
os                      9365553
shipped_at              9365553
dtype: int64

In [25]:
train_shipments[train_shipments.isna()]

,phone_id,order_completed_at_x,target,id,user_id,ship_address_id,shipment_id,order_id,order_created_at,order_completed_at_y,...,s.city_name,s.store_id,total_cost,rate,dw_kind,promo_total,total_weight,platform,os,shipped_at
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9365548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9365549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9365550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9365551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9365552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
train_shipments.groupby('shipment_id')['phone_id'].nunique().unique()

array([0, 1])

In [14]:
train_shipments.groupby('phone_id')['shipment_id'].nunique()

phone_id
2.0         5
3.0         4
4.0         8
6.0         9
8.0         2
           ..
719359.0    1
719360.0    1
719363.0    1
719373.0    1
719374.0    1
Name: shipment_id, Length: 284449, dtype: int64

In [15]:
from collections import Counter, OrderedDict
count = Counter(train_shipments.groupby('phone_id')['shipment_id'].nunique())

In [80]:
shipments.shipment_id.count(), shipments.shipment_id.nunique()

(2260686, 2260686)

In [78]:
OrderedDict(count.most_common())

OrderedDict([(2, 55015),
             (3, 43033),
             (4, 31573),
             (1, 27377),
             (5, 23107),
             (6, 17611),
             (7, 13769),
             (8, 10895),
             (9, 8911),
             (10, 7409),
             (11, 6199),
             (12, 5216),
             (13, 4291),
             (14, 3764),
             (15, 3268),
             (16, 2738),
             (17, 2387),
             (18, 2074),
             (19, 1822),
             (20, 1580),
             (21, 1405),
             (22, 1222),
             (23, 1126),
             (24, 870),
             (25, 823),
             (26, 740),
             (27, 614),
             (28, 583),
             (29, 469),
             (30, 468),
             (31, 453),
             (32, 389),
             (33, 296),
             (35, 272),
             (34, 270),
             (36, 214),
             (37, 189),
             (38, 179),
             (40, 159),
             (41, 146),
             (39, 133),
             (42, 121),
             (43, 107),
             (44, 92),
             (45, 78),
             (46, 78),
             (47, 67),
             (48, 62),
             (50, 59),
             (49, 57),
             (53, 48),
             (51, 45),
             (52, 42),
             (55, 38),
             (56, 34),
             (60, 32),
             (58, 31),
             (57, 31),
             (54, 29),
             (61, 21),
             (59, 19),
             (63, 19),
             (62, 19),
             (66, 14),
             (67, 14),
             (71, 12),
             (65, 11),
             (68, 11),
             (69, 11),
             (76, 11),
             (75, 10),
             (73, 10),
             (64, 10),
             (104, 8),
             (70, 8),
             (80, 7),
             (85, 7),
             (72, 7),
             (74, 7),
             (87, 5),
             (84, 5),
             (86, 5),
             (83, 5),
             (91, 4),
             (81, 4),
             (97, 4),
             (93, 3),
             (78, 3),
             (77, 3),
             (100, 3),
             (95, 3),
             (79, 3),
             (101, 3),
             (89, 3),
             (155, 3),
             (94, 2),
             (102, 2),
             (90, 2),
             (123, 2),
             (82, 2),
             (112, 2),
             (140, 1),
             (88, 1),
             (214, 1),
             (98, 1),
             (134, 1),
             (184, 1),
             (120, 1),
             (194, 1),
             (118, 1),
             (646, 1),
             (132, 1),
             (106, 1),
             (122, 1),
             (152, 1),
             (174, 1),
             (376, 1),
             (164, 1),
             (113, 1),
             (131, 1),
             (161, 1),
             (107, 1),
             (92, 1),
             (135, 1),
             (110, 1),
             (128, 1),
             (109, 1),
             (1456, 1),
             (154, 1),
             (529, 1),
             (209, 1),
             (99, 1),
             (169, 1)])

In [44]:
shipments.shipment_id.nunique(), len(shipments.shipment_id)

(2260686, 2260686)

In [39]:
train_shipments.isna().sum()

phone_id                      0
order_completed_at_x          0
target                        0
id                            0
user_id                 1078618
ship_address_id         1078618
shipment_id             1078618
order_id                1078618
order_created_at        1078618
order_completed_at_y    1078618
shipment_starts_at      1078618
retailer                1078618
s.order_state           1078618
shipment_state          1094847
s.city_name             1078618
s.store_id              1078618
total_cost              1078618
rate                    1078618
dw_kind                 1078618
promo_total             1078618
total_weight            1078618
platform                1078762
os                      1078762
shipped_at              1605318
dtype: int64